body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("images/wp3869309.jpg");
  background-size: cover;
}

h1,
h2 {
  color: #333;
}

input[type="submit"] {
  padding: 5px 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #333;
  color: white;
}
