body {
    text-align: center;
    background-image: url("images/bgdimg.png");
    background-size: 1920px 1080px;
}
h1 {
    color: #19191a;
}
form {
    display: inline-block;
    text-align: center;
    color: rgb(255, 255, 255);
    text
    -webkit-text-stroke: .30px black;
}
.error{
    color: red;
}
.flash-message{
    margin-bottom: 20px;
}
.flash-message-success{
    color: green;
}
.flash-message-error{
    color: red;
}